body{
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
}
/* NAVBAR */
.navbar{
    width: 100vw;
    position: fixed;
    z-index: 100;
}

.navbar-light{
    background-color: white;
}

.navbar-nav{
    flex-direction: row;
}

.nav-item{
    margin: 0 1rem;
}

.nav-link{
    color: lightgray;
}

/* HERO VIDEO */
#hero-logo{
    width: 350px;
    background-color: rgba(255,255,255,0.6);
    padding: 1rem;
    border-radius: 30px;
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
  
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
header .container {
    position: relative;
    z-index: 2;
}
  
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(1, 20, 38, 0.5); /*black*/
    z-index: 1;
}
  
@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

section{
    padding: 2rem;
    box-sizing: border-box;
}

.contenedor-servicios {
    display: flex;
    justify-content: space-around;
    margin: 2rem auto;
    text-align: center;
}

.contenedor-servicios a{
    cursor: pointer;
    color: black;
}

.contenedor-servicios img{
    width: 250px;
    margin-bottom: 2rem;
}

nav {
    background-color: transparent;
    transition: background-color 200ms ease-in;
}

.active-scrolled{
    color: rgb(18, 81, 135) !important;
}

summary{
    cursor: default;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.footer-container img{
    width: 100px;
}

.footer-container p{
    font-size: 0.8rem;
    color: darkslategray;
}

.half-header{
    height: 40vh !important;
    min-height: auto;
}

.us-head{
    margin-top: 48px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/team.jpg');
    background-size: cover;
    background-position: center;
    max-width: 100%;
}

.contact-head{
    margin-top: 48px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/contact.jpg');
    background-size: cover;
    background-position: center bottom;
    max-width: 100%;
}

.products-head{
    margin-top: 48px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/img1.jpg');
    background-size: cover;
    background-position: center bottom;
    max-width: 100%;
}

.us-container{
    padding: 0 3rem;
}

.us-container p{
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}

.objectives-container ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
}

.objectives-container li{
    margin: 1rem 2rem;
    max-width: 350px;
}

.contact-container{
    margin: 2rem 0;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.contact-container p{
    margin: 0 ;
}

.contact-title{
    font-size: 1.5rem;
}

.contact-content{
    font-weight: bold;
    color: #125187;
}

.products-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
}
.products-gallery img{
    width: 300px;
    height: 250px;
}