body{
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
}
/* NAVBAR */
.navbar{
    width: 100vw;
    position: fixed;
    z-index: 100;
}

.navbar-nav{
    flex-direction: row;
}

.nav-item{
    margin: 0 1rem;
}

.nav-link{
    color: lightgray;
}

/* HERO VIDEO */
#hero-logo{
    width: 350px;
    background-color: rgba(255,255,255,0.6);
    padding: 1rem;
    border-radius: 30px;
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
  
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
header .container {
    position: relative;
    z-index: 2;
}
  
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(1, 20, 38, 0.5); /*black*/
    z-index: 1;
}
  
@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

section{
    padding: 2rem;
    box-sizing: border-box;
}

.contenedor-servicios {
    display: flex;
    justify-content: space-around;
    margin: 2rem auto;
    text-align: center;
}

.contenedor-servicios div img{
    width: 250px;
    margin-bottom: 2rem;
}

nav {
    background-color: transparent;
    transition: background-color 200ms ease-in;
}

.active-scrolled{
    color: rgb(18, 81, 135) !important;
}